<h1>Impressum</h1>

<h2>Verantwortliche(r)</h2>
<p><%= Rails.application.credentials[:contact][:organization] %></p>
<h3>Postanschrift</h3>
<p><%= Rails.application.credentials[:contact][:care_of] %>
  <br/>
  <%= Rails.application.credentials[:contact][:street] %>
  <br/>
  <%= Rails.application.credentials[:contact][:city] %></p>
<h3>Kontakt</h3>
<p>E-Mail: <%= Rails.application.credentials[:contact][:mail] %></p>
<p>Telefon: <%= Rails.application.credentials[:contact][:phone] %></p>
<h3>Vertreten durch</h3>
<p><%= Rails.application.credentials[:contact][:person] %></p>
<h2>Information gemäß § 36 VSBG</h2>
<p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
  Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
<p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
  teilzunehmen.</p>
<p><em>Dieses Impressum wurde mit Hilfe des
  <a href="https://www.activemind.de/generatoren/impressum/" target="_blank" rel="noopener">Impressums-Generators der
    activeMind AG</a> erstellt (Version 2024-07-05).</em></p>

<h1>Datenschutzhinweise</h1>
<h2>Verantwortlicher</h2>
<p>Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutz-Grundverordnung (DSGVO),
  ist:</p>
<p><%= Rails.application.credentials[:contact][:person] %><br/>
  <%= Rails.application.credentials[:contact][:organization] %><br/>
  <%= Rails.application.credentials[:contact][:care_of] %><br/>
  <%= Rails.application.credentials[:contact][:street] %><br/>
  <%= Rails.application.credentials[:contact][:city] %><br/>
  <br/>
  E-Mail: <%= Rails.application.credentials[:contact][:mail] %><br/>
  Telefon: <%= Rails.application.credentials[:contact][:phone] %></p>
<h2>Datenschutzbeauftragter</h2>
<p>Als Datenschutzbeauftragten haben wir bestellt:</p>
<p>Rechtsanwalt Dr. Daniel Kötz<br/>
  Zertifizierter Datenschutzbeauftragter (TÜV®)<br/>
  Rosenstraße 11a<br/>
  40479 Düsseldorf<br/>
  datenschutz(at)smd.org</p>
<h2>Ihre Betroffenenrechte</h2>
<p>Unter den angegebenen Kontaktdaten können Sie gemäß EU-Datenschutz-Grundverordnung (DSGVO) jederzeit folgende
  Rechte ausüben:</p>
<ul>
  <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
  <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
  <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
  <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen
    dürfen (Art. 18 DSGVO),
  </li>
  <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
  <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns
    abgeschlossen haben (Art. 20 DSGVO).
  </li>
</ul>
<p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft
  widerrufen.</p>
<p>Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die zuständige
  Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige
  Behörde.</p>
<p>Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter:
  <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
</p>
<h2>Verarbeitungstätigkeiten</h2>

<h3>Erstellung von Einträgen in der Zimmerbörse</h3>
<h4>Art und Zweck der Verarbeitung</h4>
<p>Die Zimmerbörse ist ein Service, der von der Hochschul-SMD Berlin kostenlos angeboten wird, um Einträge
  (d.h. Gesuche und Angebote) für (WG) Zimmer im Berliner Raum aufzugeben. Die Plattform ist eine einfache
  Liste, die man filtern kann. </p>
<p>Wenn Sie auf der Zimmerbörse Einträge auf unserer Website hinterlassen, speichern wir zusätzlich
  zu den Daten im Eingabeformular auch noch den Zeitpunkt der Eingabe sowie die IP-Adresse von dem Gerät,
  mit dem der Eintrag hinterlassen wurde.</p>
<p>
  Um zu überprüfen, dass ein Eintrag tatsächlich durch den Inhaber einer E-Mail-Adresse erfolgt,
  setzen wir das Double-Opt-in-Verfahren ein. Hierzu protokollieren wir die Erstellung des neuen Eintrags,
  den Versand einer Bestätigungsmail und den Eingang der hiermit angeforderten Antwort.
</p>
<p>Dies dient unserer Sicherheit, da wir für widerrechtliche Inhalte auf unserer Webseite belangt werden können,
  auch wenn diese durch Benutzer erstellt wurden.</p>
<p>Einträge sind öffentlich sichtbar, sobald Sie ihre E-Mail-Adresse bestätigt haben.
  Sie können Einträge jederzeit unsichtbar machen oder löschen.</p>
<p></p>
<h4>Rechtsgrundlage und berechtigtes Interesse</h4>
<p>Die Verarbeitung der als Angebot oder Gesuch eingegebenen Daten erfolgt auf der Grundlage eines berechtigten
  Interesses
  (Art. 6 Abs. 1 lit. f DSGVO). Durch Bereitstellung der Zimmerbörse möchten wir Ihnen eine unkomplizierte
  Interaktion ermöglichen.</p>
<h4>Empfänger</h4>
<p>Der Name wird öffentlich mit den eingegebenen Daten im Eingabeformular angezeigt. Die E-Mail-Adresse ist nur für
  Administratoren sichtbar.</p>
<p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite als
  Auftragsverarbeiter tätig werden.</p>
<h4>Speicherdauer</h4>
<p>30 Tage nach der letzten Änderung wird ein Eintrag unsichtbar und muss dann von Ihnen reaktiviert werden,
  um wieder für 30 Tage sichtbar zu sein. Sie bekommen dann eine E-Mail mit einem Link zugeschickt.
  Wird ein Eintrag nicht reaktiviert, so wird er nach 100 Tagen automatisch gelöscht. Wir behalten uns die Löschung ohne
  Angaben von Gründen und ohne vorherige oder nachträgliche Information vor.</p>
<p>Außerdem können Sie Ihren Eintrag jederzeit durch uns löschen lassen. Schreiben Sie dafür bitte eine E-Mail an
  den in dieser Datenschutzerklärung aufgeführten Kontaktinformationen und übermitteln den Link zu Ihrem Eintrag
  sowie zu Identifikationszwecken die bei der Erstellung des Eintrags verwendete E-Mail-Adresse.</p>
<h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
<p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir können Ihren Eintrag jedoch nur
  veröffentlichen, sofern Sie uns die als Pflichtangaben gekennzeichnet Informationen zur Verfügung stellen.</p>
<h4>Widerspruch</h4>
<p>Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21 DSGVO weiter unten.</p>

<h3>Antworten auf Einträge in der Zimmerbörse</h3>
<h4>Art und Zweck der Verarbeitung</h4>
<p>Wenn Sie auf einen Eintrag antworten, wird Ihre Antwort per E-Mail an den Ersteller des Eintrages verschickt.
  Dabei bekommt er auch ihre E-Mail-Adresse, damit er Ihnen antworten kann. Für die Erstellung einer Antwort
  erheben wir personenbezogene Daten, die über eine Eingabemaske an uns übermittelt werden.<p>
<p>Zusätzlich zu den Daten im Eingabeformular speichern wir auch noch den Zeitpunkt der Eingabe sowie die IP-Adresse von
  dem Gerät, mit dem die Antwort hinterlassen wurde.</p>
<p>Dies dient unserer Sicherheit, da wir für widerrechtliche Inhalte auf unserer Webseite belangt werden können,
  auch wenn diese durch Benutzer erstellt wurden.</p>
<p>Außerdem wird ihre Antwort in unserer Datenbank gespeichert und ist dann für den Besitzer des zugehörigen
  Eintrages sichtbar. So behält dieser einen Überblick über die Antworten, die er schon bekommen hat.
  Wird ein Eintrag gelöscht, so werden alle gespeicherten Antworten darauf auch gelöscht.</p>
<p></p>
<h4>Rechtsgrundlage und berechtigtes Interesse</h4>
<p>Die Verarbeitung der als Angebot oder Gesuch eingegebenen Daten erfolgt auf der Grundlage eines berechtigten
  Interesses
  (Art. 6 Abs. 1 lit. f DSGVO). Durch Bereitstellung der Antwortmöglichkeit auf Einträge möchten wir Ihnen eine
  unkomplizierte
  Interaktion ermöglichen.</p>
<h4>Empfänger</h4>
<p>Empfänger Ihrer E-Mailadresse und ihrer Antwort ist der Besitzer des Eintrags, zu welchem Sie die Antwort erstellen.
</p>
<p>Weitere Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite
  als
  Auftragsverarbeiter tätig werden.</p>
<h4>Speicherdauer</h4>
<p>Eine Antwort wird aus unserer Datenbank gelöscht, wenn der zugehörige Eintrag gelöscht wird. Wir behalten uns die
  Löschung ohne Angaben von Gründen und ohne vorherige oder nachträgliche Information vor.</p>
<p>Außerdem können Sie Ihre Antwort jederzeit durch uns löschen lassen. Schreiben Sie dafür bitte eine E-Mail an
  den in dieser Datenschutzerklärung aufgeführten Kontaktinformationen und übermitteln den Link zum Eintrag
  sowie zu Identifikationszwecken die bei der Erstellung der Antwort verwendete E-Mail-Adresse.</p>
<h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
<p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir können Ihre Antwort jedoch nur
  versenden, sofern Sie uns die als Pflichtangaben gekennzeichnet Informationen zur Verfügung stellen.</p>
<h4>Widerspruch</h4>
<p>Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21 DSGVO weiter unten.</p>

<h3>Abonnement auf Einträge der Zimmerbörse</h3>
<h4>Art und Zweck der Verarbeitung</h4>
<p>Sie können ein Abonnement auf Einträge der Zimmerbösre erstellen, um per E-Mail über neue Gesuche bzw. Angebote
  auf unserer Website informiert zu werden. Für die Erstellung eines Abonnements erheben wir personenbezogene Daten, die
  über eine Eingabemaske an uns übermittelt werden.</p>
<p>Für eine wirksame Registrierung für ein Abonnement benötigen wir eine valide E-Mail-Adresse.
  Um zu überprüfen, dass eine Anmeldung tatsächlich durch den Inhaber einer E-Mail-Adresse erfolgt, setzen wir das
  Double-Opt-in-Verfahren ein. Hierzu
  protokollieren wir die Anmeldung zum Abonnement, den Versand einer Bestätigungsmail und den Eingang der hiermit
  angeforderten Antwort. Weitere Daten werden nicht erhoben.</p>
<h4>Rechtsgrundlage</h4>
<p>Auf Grundlage Ihrer ausdrücklich erteilten Einwilligung (Art. 6 Abs. 1 lit. a DSGVO), übersenden wir Ihnen
  regelmäßig Nachrichten zu neuen Einträgen der Zimmerbörse per E-Mail an Ihre angegebene E-Mail-Adresse.</p>
<h4>Empfänger</h4>
<p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite als
  Auftragsverarbeiter tätig werden.</p>
<h4>Speicherdauer</h4>
<p>Die Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende Einwilligung vorliegt.</p>
<h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
<p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer Einwilligung. Ohne
  bestehende Einwilligung können wir Ihnen keine Nachrichten zu neuen Einträgen der Zimmerbörse zusenden.</p>
<h4>Widerruf der Einwilligung</h4>
<p>Die Einwilligung zur Speicherung Ihrer persönlichen Daten und ihrer Nutzung für den Versand des Abonnements können
  Sie
  jederzeit mit Wirkung für die Zukunft widerrufen. Die Abmeldung kann über den in jeder E-Mail enthaltenen Link
  oder in dieser Datenschutzerklärung aufgeführten Kontaktinformationen beantragt werden.</p>

<h3>Erfassung allgemeiner Informationen beim Besuch unserer Website</h3>
<h4>Art und Zweck der Verarbeitung</h4>
<p>Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht registrieren oder anderweitig Informationen
  übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles)
  beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres
  Internet-Service-Providers, Ihre IP-Adresse und ähnliches.</p>
<p>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
<ul>
  <li>zur technisch fehlerfreien Darstellung und Optimierung der Website</li>
</ul>
<p>Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen. Allerdings behalten wir uns vor, die
  Server-Logfiles nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung
  hinweisen.</p>
<h4>Rechtsgrundlage und berechtigtes Interesse</h4>
<p>Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der
  Verbesserung der Stabilität und Funktionalität unserer Website sowie der Sicherstellung der Systemsicherheit und
  Missbrauchserkennung.</p>
<h4>Empfänger</h4>
<p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite als
  Auftragsverarbeiter tätig werden.</p>
<h4>Speicherdauer</h4>
<p>Daten werden in Server-Log-Dateien in einer Form, die die Identifizierung der betroffenen Personen ermöglicht,
  maximal für 8 Wochen gespeichert; es sei denn, dass ein sicherheitsrelevantes Ereignis auftritt (z.B. ein
  DDoS-Angriff).</p>
<p>Im Falle eines solchen Ereignisses werden Server-Log-Dateien bis zur Beseitigung und vollständigen Aufklärung des
  sicherheitsrelevanten Ereignisses gespeichert.</p>
<h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
<p>Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben.
  Ohne die IP-Adresse ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem
  können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein.</p>
<h4>Widerspruch</h4>
<p>Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21 DSGVO weiter unten.</p>

<h3>Kontaktaufnahme</h3>
<h4>Art und Zweck der Verarbeitung</h4>
<p>Unabhängig von der gewählten Kommunikationsart erheben wir den Inhalt Ihrer Anfrage. Ihre Daten werden zum Zweck
  der individuellen Kommunikation mit Ihnen gespeichert.</p>
<h4>Rechtsgrundlage</h4>
<p>Die Verarbeitung der Daten erfolgt auf der Grundlage eines berechtigten Interesses (Art. 6 Abs. 1 lit. f
  DSGVO).</p>
<p>Unser berechtigtes Interesse an der Verarbeitung Ihrer Daten ist die Ermöglichung einer unkomplizierten
  Kontaktaufnahme.</p>
<p>Sofern Sie mit uns Kontakt aufnehmen, um ein Angebot zu erfragen, erfolgt die Verarbeitung der Daten zur
  Durchführung vorvertraglicher Maßnahmen (Art. 6 Abs. 1 lit. b DSGVO).</p>
<h4>Empfänger</h4>
<p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite als
  Auftragsverarbeiter tätig werden.</p>
<h4>Speicherdauer</h4>
<p>Daten werden spätestens 1 Jahr nach Bearbeitung der Kontaktaufnahme gelöscht.</p>
<p>Sofern es zu einem Vertragsverhältnis kommt, unterliegen wir den gesetzlichen Aufbewahrungsfristen. Diese
  betragen grundsätzlich 6 oder 10 Jahre aus Gründen der ordnungsmäßigen Buchführung und steuerrechtlichen
  Anforderungen.</p>
<h4>Bereitstellung vorgeschrieben oder erforderlich</h4>
<p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir können Ihre Anfrage jedoch nur
  bearbeiten, sofern Sie uns die erforderlichen Daten und den Grund der Anfrage mitteilen.</p>
<h4>Widerspruch</h4>
<p>Lesen Sie dazu die Informationen über Ihr Widerspruchsrecht nach Art. 21 DSGVO weiter unten.</p>

<h2>Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h2>
<h3>Einzelfallbezogenes Widerspruchsrecht</h3>
<p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die
  Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO (Datenverarbeitung
  auf der Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese
  Bestimmung gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.</p>
<p>Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir
  können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
  überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
<h3>Empfänger eines Widerspruchs</h3>
<p><%= Rails.application.credentials[:contact][:person] %><br/>
  <%= Rails.application.credentials[:contact][:organization] %><br/>
  <%= Rails.application.credentials[:contact][:care_of] %><br/>
  <%= Rails.application.credentials[:contact][:street] %><br/>
  <%= Rails.application.credentials[:contact][:city] %><br/>
  <br/>
  E-Mail: <%= Rails.application.credentials[:contact][:mail] %><br/>
  Telefon: <%= Rails.application.credentials[:contact][:phone] %></p>

<h2>Änderung unserer Datenschutzerklärung</h2>
<p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen
  Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei
  der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>

<h2>Fragen zum Datenschutz</h2>
<p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail an den oben genannten
  Verantwortlichen.</p>
<h2>Urheberrechtliche Hinweise</h2>
<p><em>Diese Datenschutzerklärung wurde mit Hilfe der activeMind AG erstellt – den Experten für
  <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener dofollow">externe
    Datenschutzbeauftragte</a> (Version #2024-10-25).</em></p>
